body {
  background-color: #F7F7F7;
  margin: 0;
  text-align: center;
}

.top-container {
  background-color: #CCEABB;
  position: relative;
  padding: 100px;
}

h1 {
  font-size: 90px;
  margin-top: 0;
  position: relative;
}

h2 {
  font-weight: normal;
  line-height: 2em;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
